/* 
*  CSS TABLE OF BLOG CONTENT
*   
*  1.0 - Globals
*  2.0 - Navbar
*  3.0 - Body
*    3.1 - Blog-home
*	 3.2 - Post
*	 3.3 - Dashboard
*  4.0 - Footer
*/

/*** 1.0 - Globals ***/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
body {
	font-family: 'Noto Sans TC', sans-serif;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	/* margin-bottom: 0.5rem; */
	font-weight: 700;
	line-height: 1.2;
}

/*** 2.0 - Navbar ***/
#homeNav {
	padding: 1rem;
}

#homeNav .navbar-brand {
	font-size: 1.5em;
	font-weight: 800;
	transition: font-size 0.3s ease-in-out;
	font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

#homeNav .nav-item {
	margin-right: 1rem;
}

#homeNav .nav-link {
	font-size: 1.1rem;
	color: white;
	font-weight: 800;
}

#navbarText {
	border-radius: 0px 0px 10px 10px;
}

/*** 3.1 - Blog-home ***/
section#blog-home {
	padding-top: 8rem;
	padding-bottom: 10rem;
}

.blog {
	max-width: 950px;
	margin: 0 auto;
}

.post {
	border: 3px solid black;
	padding: 0 4rem;
}

.post-content {
	max-width: 950px;
    padding: 1em 0 2em;
    margin: 0 auto 1em;
    background: #fff;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1rem;
}

.content-header a {
	color: black;
	text-decoration: none;
}

@media (min-width: 768px) {
	/* #blog-home {
		padding-top: 25rem;
		padding-bottom: 12.5rem;
	} */
}

@media (min-width: 975px) {
	
}

/*** 3.2 - Post ***/
#blog-post-page {
	padding-top: 8rem;
	padding-bottom: 10rem;
}

.post-header {
	border-bottom: none !important;
}


/*** 3.3 - Dashboard ***/
.blog-dashboard {
	padding: 8rem 0;
}

.post-list {
	border-top: 1px solid black; 
	border-left: 2px solid black; 
	border-right: 2px solid black; 
	max-width: 1000px; 
	margin: 0 auto;
}

.dashboard-post {
	padding: 1rem 5rem; 
	
	border-bottom: 1px solid black;
}

.control-btns {
	text-align: right;
}

/*** 4.0 - Footer ***/
#footer-dark {
	padding: 50px 0;
	font-family: 'Courier New', Courier, monospace;
}

#footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

#footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

#footer-dark ul a:hover {
    opacity: 1;
}

#footer-dark p,
#footer-dark .socia-icons {
	opacity: 0.8;
}

#footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
	#footer-dark .widget {
		padding-bottom: 20px;
	}
}
