/* Global */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-weight: 700;
	line-height: 1.2;
}

/* navbar.html */
#homeNav {
	padding: 1rem;
}

#homeNav .navbar-brand {
	font-size: 1.5em;
	font-weight: 800;
	transition: font-size 0.3s ease-in-out;
	font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

#homeNav .nav-item {
	margin-right: 1rem;
}

#homeNav .nav-link {
	font-size: 1.1rem;
	color: white;
	font-weight: 800;
}

#navbarText {
	border-radius: 0px 0px 10px 10px;
}

/* blog-home.html */
section#blog-home {
	padding-top: 8rem;
	padding-bottom: 20rem;
}

@media (min-width: 768px) {
	/* #blog-home {
		padding-top: 25rem;
		padding-bottom: 12.5rem;
	} */
}




/* footer.html */
#footer-dark {
	padding: 50px 0;
	font-family: 'Courier New', Courier, monospace;
}

#footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

#footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

#footer-dark ul a:hover {
    opacity: 1;
}

#footer-dark p,
#footer-dark .socia-icons {
	opacity: 0.8;
}

#footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
	#footer-dark .widget {
		padding-bottom: 20px;
	}
}
