{% extends 'blog/base.html' %} 
{% load static %} 
{% block title %}Blog{% endblock%} 

{% block content %}
<section id="blog-home">
	<div class="container">
		<h1 class="text-center" style="font-weight: 500;">Blog</h1>
		<hr>
		<div class="blog-lists">
			<!-- loop blog -->
			<div class="blog mt-2">
				{% for post in posts %}
				<article class="post my-5">
					<div class="post-content">
						<div class="content-header">
							<h2><a href="{{ post.get_absolute_url }}">{{ post.headline }}</a></h2>
						</div>
						<p class="post-date">{{ post.date|date:"Y-m-d" }}</p>
						<p class="post-summary">{{ post.summary }}</p>
						<a href="{{ post.get_absolute_url }}" style="float: right; color: #268bd2; font-family: Arial, Helvetica, sans-serif;">Read More...</a>
					</div>
				</article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock %}