{% extends 'toDo/base.html' %} 
{% load static %} 
{% block title %}@Mango: ToDo{% endblock%} 

{% block content %}

<div id="toDo">
	<div class="container">
		<h1>To-Do</h1>
		<a href="{% url 'toDo:create_task_page' %}" class="btn btn-primary">Add Task</a>
		<div class="task-list">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Task Name</th>
						<th>Detail</th>
						<th>Due Date</th>
						<th>Control</th>
					</tr>
				</thead>
				<tbody>
					{% for task in tasks %}
					<tr>
						<td>{{ task.name }}</td>
						<td>{{ task.detail|default:"" }}</td>
						<td>{{ task.due_date|date:"Y-m-d" }}</td>
						<!-- Button trigger modal -->
						<td>
							<button type="button" class="btn btn-primary mt-0 edit-btn" data-bs-toggle="modal" data-bs-target="#editModal" data-task-name="{{task.name}}" data-task-id="{{task.id}}">Edit</button>
							<a href="{% url 'toDo:delete_task' task.id %}" class="btn btn-danger mt-0 edit-btn">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- Edit Modal -->
			<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="editModalLabel">Modal title</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form method="POST">
							<div class="modal-body">
								{% csrf_token %}
								{{ form }}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" name="updateTask">Update Task</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	
	$(document).ready(function(){		
		const openModalButtons = document.querySelectorAll('[data-bs-toggle]'); // Attribute selector
		const allData = $("tbody tr"); // Table Data
		const modalPanel = $("form .modal-body"); 
		// console.log(modalPanel.children('#id_due_date'))
		
		openModalButtons.forEach(button => {
			button.addEventListener('click', () => {
				task_id = button.dataset.taskId; // Get task_id for DB get data.
				allData.each(function(index,element){
					if (button.dataset.taskName === element.firstElementChild.innerHTML) {
						// console.log(element.firstElementChild.innerHTML); // Name
						// console.log(element.children[1].innerHTML); // Detail
						// console.log(element.children[2].innerHTML); // Due time
						modalPanel.children('#id_name').val(element.firstElementChild.innerHTML);
						modalPanel.children('#id_detail').val(element.children[1].innerHTML);
						modalPanel.children('#id_due_date').val(element.children[2].innerHTML);
						modalPanel.children('#id_pk').val(task_id);
					}
				})
			})
		})
	})
</script>

{% endblock %}