{% extends 'personalWeb/base.html' %} 
{% load static %} 
{% block title %}@Mango: ME{% endblock%} 

{% block content %}
<div id="about">
	<div class="container">
		<img class="img-fluid rounded " src="{% static 'img/about-computer.jpg' %}" alt="about-computer.jpg" width="700px" height="600px">
		<div class="row">
			<div class="col-xl-9 col-lg-10 mx-auto">
				<div class="about-intro">
					<h2>About This Website</h2>
					<p>I used <b>Django</b> and <b>Bootstrap</b> to build this web.</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}