{% extends 'personalWeb/base.html' %} 
{% load static %} 
{% block title %}@Mango{% endblock%} 

{% block content %}

<div class="home">
	<header class="homeHero">
		<div class="container">
			<div class="homeHero-headline">Welcome To My Website</div>
			<a class="btn btn-primary text-uppercase js-scroll-trigger" href="#me">Learn More</a>
		</div>
	</header>
</div>

<section class="page-section" id="me">
	<div class="container">
		<div class="text-center">
			<h1 class="section-headline">Me</h1>
		</div>
		<ul class="intro-me">
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'PersonalWeb/img/me.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>About Me</h4>
					</div>
					<div class="intro-me-body">
						<p>
							哈囉，我的名字是宇釩，也可以叫我芒果，目前是大學四年級，
							現在我正在學習當一個後端開發者，這個網站都是我一手建立的，
							如果你有任何問題想要詢問我的話，請Email給我讓我知道，謝謝你的來訪。
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'PersonalWeb/img/skills.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							目前比較常使用的是Django或Flask建立網站，在Python，我也不只有接觸Web框架，
							在資料科學與機器學習的部分也有些心得，在未來也會慢慢的統整到這個網站的部落格上。
							我也有幫朋友使用JavaScript架設過網頁，但是對於整體的熟悉程度，還是不及常常使用的Python。
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'PersonalWeb/img/interest.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Interest</h4>
					</div>
					<div class="intro-me-body">
						<p>
							打遊戲一直都是主要的興趣，也是接觸遊戲後才開始好奇並且進入電腦的世界，
							為了遊戲升級電腦，我也學會了組裝電腦，從挑選零件到組裝也變成我的興趣之一了，
							再後來更是做了一款手機遊戲，不過那還是在學習程式語言的初期，如果有興趣可以到我的Github。
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'PersonalWeb/img/study.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Study</h4>
					</div>
					<div class="intro-me-body">
						<p>
							最一開始我學習的語言是C/C++，但自學時有些漫無目的，後來轉向使用Unity3D(C#)學習製作遊戲，
							有替朋友的畢業專題做出一個手機遊戲，在大學時，我接觸到網頁後端的世界，資料庫應用以及伺服器架設，
							這也是目前自己正在學習並且實際運用的。
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

{% endblock %}