{% extends 'personalWeb/base.html' %} 
{% load static %} 
{% block title %}@Mango: Projects{% endblock%} 

{% block content %}
<section id="project">
	<div class="container">
		<div class="project-list">
			<h1>Projects</h1>
			<div class="row">
				<div class="col-md-6">
					<a href="{% url 'blog:home_page' %}"><img class="img-fluid" src="{% static 'PersonalWeb/img/blog-picture.png' %}" alt="blog-picture"></a>
					<div class="card-body">
						<h5 class="card-title">Blog</h5>
						<p class="card-text">I will put every note about my learning into the blog.</p>
					</div>
				</div>
				<div class="col-md-6">
					<a href="{% url 'toDo:home_page' %}"><img class="img-fluid" src="{% static 'PersonalWeb/img/to-do-picture.png' %}" alt="to-do-picture"></a>
					<div class="card-body">
						<h5 class="card-title">To-Do</h5>
						<p class="card-text">A simple application.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}