{% extends 'base.html' %} 
{% load static %} 
{% block title %}@Mango{% endblock%} 

{% block content %}

<div class="home">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="homeNav" style="height: 80px">
		<div class="container">
			<a class="navbar-brand" href="#">@Mango</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse bg-dark" id="navbarText">
				<ul class="navbar-nav ms-auto mb-2 px-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{% url 'home_page' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Project</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<header class="homeHero">
		<div class="container">
			<div class="homeHero-headline">Welcome To My Website</div>
			<a class="btn btn-primary text-uppercase js-scroll-trigger" href="#me">Learn More</a>
		</div>
	</header>
</div>

<section class="page-section" id="me">
	<div class="container">
		<div class="text-center">
			<h1 class="section-headline">Me</h1>
		</div>
		<ul class="intro-me">
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/me.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>About Me</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/skills.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/interest.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/study.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<div class="bg-dark text-center text-white" id="footer-dark">
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3 widget">
					<h3>Location</h3>
					<ul>
						<li><a href="">Python</a></li>
						<li><a href="">Flask</a></li>
						<li><a href="">Django</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-md-3 widget">
					<h3>Location</h3>
					<p>Taiwan, Kaohsiung</p>
				</div>
				<div class="col-md-6 widget">
					<h3>Email</h3>
					<p>et860525@gmail.com</p>
					<br />
					<br />
				</div>
				<div class="socia-icons">
					<!-- Facebook -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
							class="fab fa-facebook-f"></i></a>

					<!-- Twitter -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
							class="fab fa-twitter"></i></a>

					<!-- Google -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
							class="fab fa-google"></i></a>

					<!-- Instagram -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
							class="fab fa-instagram"></i></a>

					<!-- Linkedin -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
							class="fab fa-linkedin-in"></i></a>

					<!-- Github -->
					<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
							class="fab fa-github"></i></a>
				</div>
				<p class="copyright">Copyright © 2021</p>
			</div>
		</div>
	</footer>
</div>

{% endblock %}