{% extends 'base.html' %} 
{% load static %} 
{% block title %}@Mango{% endblock%} 

{% block content %}

<div class="home">
	<header class="homeHero">
		<div class="container">
			<div class="homeHero-headline">Welcome To My Website</div>
			<a class="btn btn-primary text-uppercase js-scroll-trigger" href="#me">Learn More</a>
		</div>
	</header>
</div>

<section class="page-section" id="me">
	<div class="container">
		<div class="text-center">
			<h1 class="section-headline">Me</h1>
		</div>
		<ul class="intro-me">
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/me.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>About Me</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/skills.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/interest.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="intro-me-image">
					<img class="img-fluid" src="{% static 'img/study.png' %}" alt="me" />
				</div>
				<div class="intro-me-panel">
					<div class="intro-me-headline">
						<h4>Skills</h4>
					</div>
					<div class="intro-me-body">
						<p>
							Lorem ipsum dolor sit, 
							amet consectetur adipisicing elit. Delectus incidunt exercitationem ut fugit laudantium fugiat beatae, illum vitae dicta. 
							Tempore saepe quas atque ipsam dolorum reiciendis sunt esse nisi ullam?
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

{% endblock %}